---
import MainLayout from '../../layouts/MainLayout.astro'
import PostCard from '../../components/PostCard.astro'

const allPosts = await Astro.glob('./*.md')
---

<MainLayout title='My Blog' description='My astro Blog'>
	<section class='container' aria-label='New Blog Posts'>
		{
			allPosts.map((post) => (
				<PostCard frontmatter={post.frontmatter} url={post.url} tagType='h2' />
			))
		}
	</section>
</MainLayout>
